.full-name {
    /* color: black !important; */
    font-size: 3rem;
}

#profile-container {
    background-color: rgb(34, 43, 56);
    min-height: 100vh;
    height: 100%;
    overflow: auto;

}

#section-1 {

    border-radius: 0 0 50px 50px;
    background-color: rgba(0, 3, 83, 0.7);
    height: 40vh;
    max-width: 99vw;
    margin: 0 auto;
    position: relative;
    border: none;
    background: radial-gradient(circle, rgba(17, 31, 92, 1) 19%, rgba(51, 8, 190, 1) 44%, rgba(27, 12, 110, 1) 100%);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
}



#name-container {
    position: absolute;
    display: flex;
    width: 650px;
    padding: 20px;
    /* justify-content: space-between; */
    align-items: center;
    left: 5%;
    bottom: 0;
}

#section-1 div img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#section-2 {
    border-radius: 50px 50px 0 0;
    background-color: rgba(0, 3, 83, 0.7);
    max-width: 99vw;
    /* padding-bottom: 40px; */
    margin: 0 auto;
    min-height: 57vh;
    /* overflow: auto; */
    height: 100%;
    margin-top: 3vh;
    position: relative;
    background: radial-gradient(circle, rgba(17, 31, 92, 1) 19%, rgba(51, 8, 190, 1) 44%, rgba(27, 12, 110, 1) 100%);
    background-size: 400% 400%;
    /* animation: gradient 25s ease infinite; */

}

#profile-clock {
    position: absolute;
    right: 5.5%;
    top: 50%;
    transform: translateY(-50%);
}

#profile-calendar {
    position: absolute;
    right: 2%;
    top: 10%;
}

#profile-info {
    position: absolute;
    left: 5%;
    /* border: 1px solid white; */
    width: 300px;
    height: 300px;

}

#sign-out{
    position: absolute;
    right: 2%;
    bottom: 5%;
    width: 350px;
    margin-top: 20px;
}

#profile-info{
    margin-top: 20px;
    width: 55%;
}

#profile-info h1{
    width: 80%;
    background: linear-gradient(-45deg, #ee52ba, #5920c5, #fd2ada, #23d5a0);
    /* height: 40px; */
    animation: background-animation 15s ease infinite;
    background-size: 400% 400%;
    margin: 10px 0;
    border-radius: 30px;
    text-align: left;
    padding: 0;
    text-transform: none !important;
    padding: 15px 0;
    display: flex;
    /* justify-content: space-between; */
    padding-left: 30px;


}

.icon{
    text-align: left;
    padding-right: 50px;
    /* margin-top: 5px; */
    align-self: center;
}